In [1]:
import os,sys
current_directory = os.path.dirname(os.getcwd())
current_directory = os.path.join(current_directory,'task_1_data_connection')
sys.path.append(current_directory)
from data_connection import DataConnection

In [3]:
d_c=DataConnection()
dset = 'Government Education'
df = d_c.get_dataset(dset)
df.head()

          year         Title_en           Title_ar Gender_en Gender_ar   value
0  2014 / 2013          Schools            المدارس      Male      ذكور     259
1  2014 / 2013  Teaching, staff  الهيئات التعليمية      Male      ذكور    6955
2  2014 / 2013         Students             الطلاب      Male      ذكور  129382
3  2014 / 2013          Schools            المدارس    Female      إناث     236
4  2014 / 2013  Teaching, staff  الهيئات التعليمية    Female      إناث   17960

In [ ]:
# continue with preprocessing